{% extends "base.html" %}
{% block swiper %}
<link rel="stylesheet" href="{{ url_for('static', filename='homepage-style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='swiper@7/swiper-bundle.min.css')}}" />
<script src="{{ url_for('static', filename='swiper@7/swiper-bundle.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="header-container">
    <!-- <div class="wrapper"> -->
    <div class="bd-masthead mb-3" id="content">
        <div class="container-fluid">
            <!-- <header> -->
            <div class="row align-items-lg-center">
                <div class="container-fluid">
                    <!-- header with logan -->
                    <div class="row">
                        <div class="col-12 col-lg-2"></div>
                        <div class="col-12 col-lg-8">
                            <div class="welcome-title">
                                <div class="words word-1">
                                    <span>FlashQuiz</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2"></div>
                        <div class="col-12 col-lg-2"></div>
                        <div class="col-12 col-md-8 col-lg-4 text-md-start">
                            <div class="logan">
                                <h1 class="mb-3 logan-top">Learning  <br>Made <br> Easier</h1>
                                <!-- <p class="logan-top">MAKE <br>YOUR STUDY <br> EXPERIENCE BETTER</h1> -->
                                <p class="lead mb-4 pl-0">Learning made easy
                                    <img class="logan-stick" src="{{ url_for('static', filename='images/stick.svg') }}">
                                </p>
                                {% if not current_user.is_authenticated %}
                                <div class="d-flex flex-column flex-md-row">
                                    <a class="logan-started" href="/signup">Get Started</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 mx-auto col-md-4 col-lg-4">
                            <div class="header-image">
                                <img class="logan-img" src="{{ url_for('static', filename='images/headpic.svg') }}">
                            </div>
                        </div>
                        <div class="col-12 col-lg-2"></div>

                        <div class="col-12 mt-5">
                            <div class="container-sm">
                                <div class="row">
                                    <div class="col-12 mt-5">
                                        <!--flashcards-->
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-md-4 mb-4">
                                                    <div class="container flashcards">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h2 class="display-5 fw-normal heading">FlashCards</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <p class="lead">Creating your own set of flashcards is simple with
                                                                    our
                                                                    flashcards maker
                                                                    - Just add a front and back. You can even easily make your
                                                                    markdown file
                                                                    into
                                                                    flashcards. Once your flashcards set is complete, you can study
                                                                    and
                                                                    share it
                                                                    with
                                                                    your friends</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-8 mb-4">
                                                    <div class="container-fluid">
            
                                                        <!-- Slider main container -->
                                                        <div class="swiper" id="swiper-container">
                                                            <div class="swiper-wrapper">
                                                                <div class="swiper-slide">
                                                                    <div class="card" style="width: 100%;">
                                                                        <div class="container image">
                                                                            <img class="card-img-top"
                                                                                src="{{ url_for('static', filename='images/addcard.gif') }}"
                                                                                alt="Card image cap">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">Create FlashCard</h5>
                                                                            <p class="card-text">Simply add a front and back to
                                                                                create a
                                                                                flashcard</p>
                                                                            <a href="/add-flashcard" class="btn btn-warning">Add
                                                                                Flashcards</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="swiper-slide">
                                                                    <div class="card" style="width: 100%;">
                                                                        <div class="container image">
                                                                            <img class="card-img-top"
                                                                                src="{{ url_for('static', filename='images/importcard1.gif') }}"
                                                                                alt="Card image cap">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">Import Markdown Flashcards</h5>
                                                                            <p class="card-text">Create your Flashcards set by
                                                                                importing a
                                                                                markdown file </p>
                                                                            <a href="/import-flashcard"
                                                                                class="btn btn-warning">Import
                                                                                Markdown file</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="swiper-slide">
                                                                    <div class="card" style="width: 100%;">
                                                                        <div class="container image">
                                                                            <img class="card-img-top"
                                                                                src="{{ url_for('static', filename='images/navigatecard.gif') }}"
                                                                                alt="Card image cap">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">Navigate between FlashCards</h5>
                                                                            <p class="card-text">Your FlashCard list is showed by
                                                                                order
                                                                                based on how often you answer them right or wrong.
                                                                                Easily
                                                                                navigate between your flashcards using next and
                                                                                previous
                                                                                button</p>
                                                                            <a href="/my-flashcards" class="btn btn-warning">Go To
                                                                                My
                                                                                Flashcards</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="swiper-slide">
                                                                    <div class="card" style="width: 100%;">
                                                                        <div class="container image">
                                                                            <img class="card-img-top"
                                                                                src="{{ url_for('static', filename='images/learncard1.gif') }}"
                                                                                alt="Card image cap">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">Learn FlashCards</h5>
                                                                            <p class="card-text">Learning feature helps boost your
                                                                                memory
                                                                                and improve your abilities to recall information and
                                                                                understand concepts. Flashcards that are answered
                                                                                less
                                                                                correctly will be shown first</p>
                                                                            <a href="/learn-flashcard" class="btn btn-warning">Learn
                                                                                Flashcards</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="swiper-slide">
                                                                    <div class="card" style="width: 100%;">
                                                                        <div class="container image">
                                                                            <img class="card-img-top"
                                                                                src="{{ url_for('static', filename='images/downcard.gif') }}"
                                                                                alt="Card image cap">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">Download pdf of FlashCards</h5>
                                                                            <p class="card-text">Save your Flashcards as pdf file
                                                                                into your
                                                                                computer in just one click</p>
                                                                            <a href="/my-flashcards" class="btn btn-warning">Go To
                                                                                My
                                                                                Flashcards</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                                <div class="swiper-slide">
                                                                    <div class="card" style="width: 100%;">
                                                                        <div class="container image">
                                                                            <img class="card-img-top"
                                                                                src="{{ url_for('static', filename='images/sharecard.gif') }}"
                                                                                alt="Card image cap">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">Share FlashCards with Friends
                                                                            </h5>
                                                                            <p class="card-text">Make studying better. Share your
                                                                                Flashcards
                                                                                with your friends</p>
                                                                            <a href="/my-flashcards" class="btn btn-warning">Go To
                                                                                My
                                                                                Flashcards</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
            
                                                            </div>
                                                            <!-- If we need navigation buttons -->
                                                            <div class="swiper-button-prev"></div>
                                                            <div class="swiper-button-next"></div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div class="col-12">
                                                    <div class="container-fluid m-0 p-0">
                                                        <div class="row justify-content-center">
                                                            <div class="col-1"></div>
                                                            <div class="col-3">
                                                                <div class="icon-bar">
                                                                    <img
                                                                        src="https://images.prismic.io/quizlet-prod/619c7dff89aa60f4d46f18b29ac77be962027e9c_import-flashcards.png?auto=compress,format">
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="icon-bar">
                                                                    <img
                                                                        src="https://images.prismic.io/quizlet-prod/fb91d8c76f476b01a57c7999685be330ae25aee7_customize-flashcards.png?auto=compress,format">
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="icon-bar">
                                                                    <img
                                                                        src="https://images.prismic.io/quizlet-prod/d6a6131bbb2faefb19600acb18f6908cb97b7a1d_star-a-flashcard.png?auto=compress,format">
                                                                </div>
                                                            </div>
                                                            <div class="col-1"></div>
                                                            <div class="col-1"></div>
                                                            <div class="col-3">
                                                                <div class="icon-bar">
                                                                    <p>Easily make your markdown file into flashcards</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="icon-bar">
                                                                    <p>Share flashcards with your friends</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="icon-bar">
                                                                    <p>Learn flashcards by order based on how often you answer it right or wrong</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-1"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
            
                                    <div class="col-12 mt-5">



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <br>

        </div>
    </div>


</div>

<script>
    const swiper = new Swiper('.swiper', {
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

    });</script>

{% endblock %}
