{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-6">
        <img style="width:100%; height:90vh;", src="{{url_for('static',filename='images/girl_with_books.png')}}" alt="girl_with_books">
    </div>
    <div class="col-12 col-md-6">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <div style="margin-left:2rem; margin-top:1rem;">
                {{ render_field(form.remember_me) }}
            </div>
            {{ render_field(form.submit) }}
        </form>
        <br>
        <p>Don't have an account?&nbsp;
            <a href="/signup">Sign Up</a>
        </p>
    </div>
</div>
{% endblock %}