{% extends "base.html" %}
{% block content %}
<h1>Friends</h1>
<br>
<h2>My Friends</h2>
<p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for friend, status, buttons in friends %}
            <tr>
                <td>{{ friend.username }}</td>
                <td>{{ status }}</td>
                <td>
                    {% for href, tag_descrp, button_style in buttons %}
                    <a class="btn {{button_style}}" href="{{ href }}">{{ tag_descrp }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</p>
<hr>
<h2>Add Friend</h2>
{{ render_form(search_form, form_type="inline", novalidate=True) }}
<p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for username, buttons in found_users %}
            <tr>
                <td>{{ username }}</td>
                <td>
                    {% for href, tag_descrp, button_style in buttons %}
                    <a class="btn {{button_style}}" href="{{ href }}">{{ tag_descrp }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</p>
{% endblock %}