{% extends "base.html" %}
{% block swiper %}
<link rel="stylesheet" href="{{ url_for('static', filename='swiper@7/swiper-bundle.min.css') }}" />
<link rel="stylesheet" href="../static/my-flashcards-style.css" />
<script src="{{ url_for('static', filename='swiper@7/swiper-bundle.min.js') }}"></script>
{% endblock %}

{% block content %}
<h1>My FlashCards</h1>
<br>
<br>

<!-- Slider main container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-2 col-lg-1">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group-vertical" role="group" aria-label="Actions For Flashcards">
                    <a class="btn btn-secondary mb-1" href="add-flashcard">Create</a>
                    <a class="btn btn-secondary mb-1" href='import-flashcard'>Import</a>
                    <a class="btn btn-secondary mb-1" href="learn-flashcard">Learn</a>
                    <a class="btn btn-secondary mb-1" href="download-flashcard-as-pdf">Download As PDF</a>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="swiper" id="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for card in ordered_cards %}
                    <div class="swiper-slide">
                        <div><b>
                                <div class="front-card">{{card.front}}</div>
                            </b>
                            <div></div>
                            <div></div>
                            <div class="back-card">{{card.back}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>



<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Flashcard</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for card in ordered_cards %}
        <tr>
            <th scope="row">{{ card.id }}</th>
            <td>
                <p>
                    <b>{{ card.front}}</b>
                    <br>
                    {{ card.back}}
                </p>
            </td>
            <td>
                <a class="btn btn-outline-danger" href="remove-flashcard/{{ card.id }}">Remove</a>
                <a class="btn btn-outline-info" href="share-flashcard/{{ card.id }}">Share</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    const swiper = new Swiper('.swiper', {
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

    });</script>
{% endblock %}