{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Pomodoro App</title>
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='pomodoro.css')}}" />
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{url_for('static',filename='main.js')}}"></script>
<script src="https://kit.fontawesome.com/996973c893.js"></script>
{% endblock %}

{% block content %}
<div id="pomodoro-content" onload="timerTemplate()">
    <div class="container timer text-center">
        <div style='height:15vh;'></div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-family: 'Monoton', cursive;font-size:
                    80px;
                    color: #ff6347;" class="text-center my-5 heading">Tomato
                    Timer</h1>
            </div>
        </div>
        <div style="font-family: 'Orbitron', sans-serif; color: #39680b;" class="row justify-content-center">
            <div class="col-1 col-sm-3 col-md-3"></div>
            <div class="col-3 col-sm-2 col-md-2">
                <h4 style="font-size: 58px;" id="minutes"></h4>
            </div>
            <div class="col-2 col-sm-2 col-md-1">
                <h4 style="font-size: 58px;">:</h4>
            </div>
            <div class="col-3 col-sm-2 col-md-2">
                <h4 style="font-size: 58px;" id="seconds"></h4>
            </div>
            <div class="col-1 col-sm-3 col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 style="font-family: 'Happy Monkey', cursive; color:
                    #ff6347; font-size: 50px;" id="done"
                    class="text-center"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row justify-content-center">
                    <div class="p-2">
                        <button style="color: #39680b;" class="btn"
                            onclick="timerStart()">
                            <i class="fas fa-play fa-2x"></i>
                        </button>
                    </div>
                    <div class="px-5"></div>
                    <div class="p-2 mt-1">
                        <a href="pomodoro"><i style="color: #39680b;" class="fas
                                fa-redo-alt fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}