@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

 .words.word-1 {
    color: rgba(0,0,0,0.5);
     font-size:50px;
 }

 body{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 370px){
    body {
        font-size: 12px;
    }
}



.container.details {
    padding-bottom:0px;
    padding-left: 0px;
}

.h2, h2 {
    font-size: 2rem;
    margin: 10px;
    /* margin-bottom: 10px;  */
    padding: 30px 0px;
}

.icon-bar {
    text-align: center;
}

.flashcards {
    background-color:#FFE5D9;
    border-radius: 5%;
    height: 40rem;
}

.notes {
    background-color: #F1E3EE;
    border-radius: 5%;
    height: 40rem;
}

.pomodoro {
    background-color: #D8EBE4;
    border-radius: 5%;
    height: 40rem;
}

.todo-list {
    background-color: #B5EAEA;
    border-radius: 5%;
    height: 40rem;
}

.pl-md-3, .px-md-3 {
    padding-left: 0rem!important;
}

img.logan-stick {
    height:25px;
    margin-top:-10px;
}

a.logan-started {
    text-decoration: none;
    background-color: #29A7A7;
    padding: 0.5rem;
    color: white;
    border-radius: 10px;
}

img.logan-img {
    width: 100%;
}

.swiper-slide .card {
    min-height: 400px;
}

.row.justify-content-center {
    margin-top: 20px;
}

 @media (min-width: 768px){
     body {
         font-size: 1vw;
     }
.container.wrapper {
    margin-top: 100px;
}
     div.col-8.mx-auto.col-md-4.order-md-2.col-lg-5 {
         margin-left: 20px !important;
     }
 img.logan-img {
     height: 300px !important;
 }
 div.logan {
     margin-top: 60px;
 }
 h1.logan-top {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

p.lead {
    font-weight: lighter;
    font-size: 1rem;
    padding: 10px;
}

.flashcards {
    height: 500px;
    margin-left: -15px;
}

.notes {
    height: 500px;
    margin-left: -15px;
}

.pomodoro {
    height: 500px;
    margin-left: -15px;
}

.todo-list {
    height: 500px;
    margin-left: -15px;
}

.pb-md-4, .py-md-4 {
    padding-bottom: 1.5rem!important;
    margin-right: 50px;
}

.h2.display-5.fw-normal.heading {
    margin-top:50px;
}
.container.image {
    height: 300px;
}
.card-body {
    height: 200px;
}
}